@model ML.VentaProducto

@{
    ViewBag.Title = "GetByIdVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey" style="padding: 3em">
    <div class="col-md-12 col-sm-8 content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">
                    <div class="panel-heading">
                        <h3>
                            COMPRA
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Descripcion</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.VentaProductos != null)
                                    {

                                        foreach (ML.VentaProducto Varticulos in Model.VentaProductos)
                                        {


                                            <tr>
                                                <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(Varticulos.Producto.Imagen)" class="img-cart"></td>
                                                <td><strong>@Varticulos.Producto.Nombre </strong><p>@Varticulos.Producto.Descripcion</p></td>

                                                <td>
                                                    @Varticulos.Cantidad
                                                </td>

                                                <td>$ @Varticulos.Producto.PrecioUnitario</td>


                                                @{
                                            decimal totalP = 0;

                                            totalP += @Varticulos.Cantidad * @Varticulos.Producto.PrecioUnitario;

                                                }
                                                <td>$ @totalP    </td>

                                            </tr>
                                        }



                                        <tr>
                                            <td colspan="6">&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td colspan="4" class="text-right"><strong>Total Compra: </strong></td>
                                            @{
                                        decimal total = 0;
                                        foreach (ML.VentaProducto ventaProducto in Model.VentaProductos)
                                        {
                                            total += ventaProducto.Cantidad * ventaProducto.Producto.PrecioUnitario;
                                        }
                                            }
                                            <td>$ @total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <a href="@Url.Action("GetAll", "Venta")" class="btn btn-primary pull-right">Continuar<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>





